/* NAVIGATION
=====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #313a46;    /* #292e35;  #313a46;*/
  z-index: 100;
  transition: all 0.5s ease;
}



.sidebar.close {
  width: 78px;
}



.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}



.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}



.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}


.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}


.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}


.sidebar.close .nav-links {
  overflow: visible;
}


.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}


.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}


.sidebar .nav-links li:hover {
  background: #292e35;
}


.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.sidebar.close .nav-links li .iocn-link {
  display: block
}


.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}



.sidebar.close .nav-links i.arrow {
  display: none;
}


.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}



.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}


.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #292e35;
  display: none;
}



.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}



.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}


.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}


.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}



.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}



.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}


.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}


.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}


.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}


.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
                          /*justify-content: space-between;*/
  background: #292e35;
  padding: 12px 0;
  transition: all 0.5s ease;
}


.sidebar.close .profile-details {
  background: none;
}


.sidebar.close .profile-details {
  width: 78px;
}


.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}



.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #292e35;
  transition: all 0.5s ease;
}



.sidebar.close .profile-details img {
  padding: 10px;
}



.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;  
                        /* ---- */
  text-align: center;
}



.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}



.sidebar .profile-details .job {
  font-size: 12px;
}


.home-section {
  position: relative;
/* height: 100vh; поменять значение на PX для Chart.js  ну или удалить)*/
  z-index: 1001;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}



.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}



.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}



.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}



.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}


.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}


@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}



/* Charts.JS Block
=====================*/

body {
  background: #f5f6fa;
}

header{
    position: fixed;
}


.design_div_1 {
    width: 100%;
    height: 100vh;
    
    padding-left: 76px;
  
    
    background-color: #f6f7f9;
  }
  
  
  .design_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    height: 100%;
    width: 80%;
  
    margin: auto;
    background-color: #f6f7f9;
  }
  
  .div_for_dashboard {
    display: flex;
  
    height: 90px;
    width: 100%;
  
    font-size: 26px;
    text-align: center;
  
    justify-content: space-between;
    align-items: center;
  
    padding-left: 50px;
  
    background-color: #f6f7f9;
  }
  
  
  .div_for_4_blocks {
    display: flex;
  
    height: auto;
    width: 100%;
  
    align-items: center;
    justify-content: space-around;
  
    flex-wrap: wrap;
  
    margin-bottom: 20px;
    
  
    background-color: #f6f7f9;
  }
  
  
  /* Если че, подредактить размер шрифта */
  
  .block_switcher_1 {
    display: flex;
    flex-wrap: wrap;
  
    flex-basis: 20%;
  
    min-height: 100px;
    width: 20%;
  
    text-align: center;
    font-size: 21px;
  
    align-items: center;
    justify-content: space-around;
  
    box-shadow: 5px 5px 15px rgba( 0, 0, 0, 0.5 );
  
    word-break: break-all;
  
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border-radius: 15px;
  }
  
  .block_switcher_1:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  
    transition: all .4s;
  }
  
  .block_switcher_2 {
    display: flex;
    flex-wrap: wrap;
  
    flex-basis: 20%;
  
    min-height: 100px;
    width: 20%;
  
    text-align: center;
    font-size: 21px;
  
    align-items: center;
    justify-content: space-around;
  
    box-shadow: 5px 5px 15px rgba( 0, 0, 0, 0.5 );
  
    word-break: break-all;
  
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border-radius: 15px;
  }
  
  .block_switcher_2:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  
    transition: all .4s;
  }
  
  .block_switcher_3 {
    display: flex;
    flex-wrap: wrap;
  
    flex-basis: 20%;
  
    min-height: 100px;
    width: 20%;
  
    text-align: center;
    font-size: 21px;
  
    align-items: center;
    justify-content: space-around;
  
    box-shadow: 5px 5px 15px rgba( 0, 0, 0, 0.5 );
  
    word-break: break-all;
  
    background: #f4c4f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border-radius: 15px;
  }
  
  .block_switcher_3:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  
    transition: all .4s;
  }
  
  .block_switcher_4 {
    display: flex;
    flex-wrap: wrap;
  
    flex-basis: 20%;
  
    min-height: 100px;
    width: 20%;
  
    text-align: center;
    font-size: 21px;  
  
    align-items: center;
    justify-content: space-around;
  
    box-shadow: 5px 5px 15px rgba( 0, 0, 0, 0.5 );
  
    /* Чтобы текст ровнялся */
    word-break: break-all;
  
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border-radius: 15px;
  }
  
  .block_switcher_4:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  
    transition: all .4s;
  }
  
  /* Если че, подредактить размер шрифта */
  
  
  /* Стилизация моей ссылки */
  
  .link_for_switcher {
    text-decoration: none;
    border: none;
    outline: none;
  
    font-size: 22px;
    font-style: bold;
  
    color: #f5f6fa;
  }
  
  /* ====================
      Контент стр
    ===================*/
  
  .the_main_block_for_devide_on_2 {
    display: flex;
    
  
    height: auto;
    width: 100%;
  
    justify-content: space-between;
  }
  
  
  /* ====================
      Блоки графика
    ===================*/
  
  .the_main_block_for_chart {
    height: auto;
    width: 100%;
  
    background-color: #ffffff;
  
  }
  
  .block_for_chart_1 {
    padding: 25px;
  
    height: auto;
    width: 100%;
    
    background-color: #f6f7f9;
  }
  
  .block_for_chart_2 {
    background-color: #ffffff;
  
    padding: 15px;
  
    max-height: 900px;
    width: 100%;
  
    z-index: 99;
  
    border-radius: 15px;
  
    box-shadow: 12px 12px 15px rgba( 0, 0, 0, 0.2 );
    
  }
  
  
  /* ====================
      Блоки таблицы
    ===================*/
  
  .the_main_block_for_data {
    height: auto;
    width: 100%;
  
    
  
    background-color: #f6f7f9;
  
  }
  
  .block_for_data_1 {
    padding: 25px;
  
    height: auto;
    width: 100%;
    
    background-color: #f6f7f9;
  }
  
  .block_for_data_2 {
    background-color: #ffffff;
  
    padding: 15px;
  
    height: auto;
    width: 100%;
  
    box-shadow: 12px 12px 15px rgba( 0, 0, 0, 0.2 );
  
    border-radius: 15px;
  }
  
  /* ====================
      Таблица
  ===================*/
  
  
    .scroll-table-body {
      max-height: 400px;
      overflow-x: auto;
      margin-top: 0px;
      margin-bottom: 20px;
      border-bottom: 15px solid #eee;
      word-break: break-all;
      
    }
    .scroll-table table {
      width:100%;
      table-layout: fixed;
      border: none;
      background-color: #ffffff
    }
    .scroll-table thead th {
      font-weight: bold;
      text-align: center;
      border: none;
      padding: 10px 15px;
      background: #4fc3a1;
      font-size: 14px;
      border-left: 1px solid #324960;
      border-right: 1px solid #324960;
      word-break: break-all;
    }
    .scroll-table tbody td {
      text-align: left;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 10px 15px;
      font-size: 14px;
      vertical-align: top;
    }
    .scroll-table tbody tr:nth-child(even){
      background: #f3f3f3;
    }
     
    /* Стили для скролла */
    ::-webkit-scrollbar {
      width: 6px;
    } 
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
  
  
  .block_for_qr_ets {
    display: flex;
  
    max-height: 170px;
    max-width: 100%;
  
    background-color: rgb(255, 255, 255);
    justify-content: end;
  
    padding: 15px;
  
    box-shadow: 12px 12px 15px rgba( 0, 0, 0, 0.2 );
  
    border-radius: 15px;
  
    margin-top: 20px;
  
  }
  
  .qr {
    display: flex;
    max-width: 193px;
    justify-content:flex-end;
  }
  
  
  
  /*
  .qr:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
  
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  
    transition: all .4s;
  }
  */
  
  .div_to_qr {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  
  .div_for_img_to_contact {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
  }
  
  .real_pick {
    max-width: 50px;
    max-height: 50px;
    margin: 10px 10px 0px 10px;
  }
  
  
  
  
  .contacts_1 {
    font-size: 21px;
  }
  .contacts_2 {
    font-size: 14px;
    padding-top: 5px;
  
  }
  
  /*====================
  ===блок для qr кода===
  ====================*/
  
  .div_for_qr_main {
    display: flex;
  
    max-height: 170px;
    max-width: 193px;
  
  }
  

